.btn {

	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;

	&--circle {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	&--ellipse {
		padding: 5px 30px;
		border-radius: 50px;
		border: 3px solid #fff;
	}

	/* Button start */
	&__start {
		color: #fff;
		overflow: hidden;
		background: #2ecc71;

		&:active {
			border-color: #17954c;
			color: #17954c;
		}

		&:hover {
			background: #24b662;
		}
	}

	/* Button add */
	&__add {
		color: #fff;
		overflow: hidden;
		background: #11a4f1;

		&:active {
			border: 3px solid #0b81c1;
			color: #0b81c1;
		}

		&:hover {
			background: #1097de;
		}
	}
}