<div class="playersPresentions center">
	<killers-board>
		<board-header>
			{{playersPresentionsCtrl.players.length}} Killers
		</board-header>

		<board-body>
			<display-player player="playersPresentionsCtrl.player" show-details-auto="false"></display-player>
		</board-body>

		<board-actions>
			<a class="btn btn__start btn--ellipse"
			   ng-click="playersPresentionsCtrl.back()">
				Back
			</a>
			<a class="btn btn__start btn--ellipse"
			   ng-click="playersPresentionsCtrl.next()">
				{{playersPresentionsCtrl.finished ? 'Done' : 'Next'}}
			</a>
		</board-actions>
	</killers-board>
</div>
