<div class="addKillerForm">

	<button type="button"
			class="btn btn__add btn--circle addKillerForm__addBtn"
			ng-click="addKillerFormCtrl.showInput = true;"
			ng-show="!addKillerFormCtrl.showInput">+</button>

	<form ng-submit="addKillerFormCtrl.sendMessage()" class="container">
		<button  class="btn btn__add btn--circle addKillerForm__addBtn"
				 ng-show="addKillerFormCtrl.showInput">
			{{!!addKillerFormCtrl.name ? '+' : '-'}}
		</button>

		<input type="text"
			   ng-model="addKillerFormCtrl.name"
			   class="addKillerForm__input"
			   ng-class="{'addKillerForm__input--show': addKillerFormCtrl.showInput}"
			   placeholder="Type a name">
	</form>

</div>