<div class="killersBoard" app-interact draggable-enabled="{{killersBoardCtrl.draggable}}">
	<div class="killersBoard__headerContainer">
		{{killersBoardCtrl.killers.length}} Killers <span class="killersBoard__minKillers">(min killers 3)</span>
	</div>

	<div class="killersBoard__playersContainer">
		<killers-list></killers-list>
	</div>

	<div class="killersBoard__addPlayerContainer">
		<add-killer-form></add-killer-form>
	</div>

	<div class="killersBoard__formContainer">
		<a class="btn btn__start btn--ellipse"
		   ng-class="{'btn--disabled': killersBoardCtrl.killers.length < 3}">
			Start
		</a>
	</div>
</div>
