.killersBoard {

	width: 330px;
	border: 1px solid black;
	padding: 10px;

	&__headerContainer {
		padding: 10px;
		text-align: center;
	}

	&__messageContainer {
		height: 500px;
		border-top: 1px dashed black;
		border-bottom: 1px dashed black;
		overflow: auto;
	}

	&__formContainer {
		text-align: center;
		padding: 10px;
	}
}