<div class="startGame center">
	<killers-board>
		<board-header>
			{{startGameCtrl.killers.length}} Killers In Game
		</board-header>

		<board-body>
			<display-player player="startGameCtrl.killer"
							show-details-auto="true"
							ng-if="startGameCtrl.killer && !startGameCtrl.winner"></display-player>

			<killers-list-game ng-if="!startGameCtrl.killer && !startGameCtrl.winner"
							   killers="startGameCtrl.killers"
							   on-remove="startGameCtrl.onRemove(uuid)"></killers-list-game>

			<div ng-if="startGameCtrl.winner">{{startGameCtrl.winner}} is the killer!</div>
		</board-body>


	</killers-board>
</div>
